body {
    background: url(images/task3_02.png);
}
#two{
    height: 70px;
    width: 181px;
    background: url(images/task3_07.png) no-repeat;
    margin: 110px auto;
}
#three{
    height: 60px;
    width: 60px;
    background: url(images/task3_03.png) no-repeat ;
}