body{
    margin: 0;
    padding: 0;
    font: 12px Arial,宋体 ;
    text-align: center;
}
#top{
    margin: auto;
    width: 960px;
}
#header{
    float: left;
    width: 200px;
    height: 80px;
    margin-right: 10px;
    background-color: blueviolet;
}
#banner{
    width: 550px;
    height: 80px;
    float: left;
    background-color: aqua;
}
#logo{
    float: right;
    width: 190px;
    height: 80px;
    background-color: chartreuse;
}
#menu{
    float: left;
    width: 100%;
    background-color: darkgray;
}
#menu .one{
    height: 28px;
    line-height: 28px;
    float: left;
    width: 80px;
    text-align: center;
    
}
a{
    color: aliceblue;
}

#menu .two{
    float: left;
    width: 1px;
    height: 12px;
    margin-top: 8px;
    background-color: black;
    overflow: hidden;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.kong{
    width: 100%;
    height: 10px;
    float: left;
}
.left{
    float: left;
    width: 800px;
    height: 900px;
    margin-right: 10px;
}
.right{
    float: left;
    width: 150px;
    height: 900px;
    background-color: brown;

}
.left .leftone{
    float: left;
    width: 350px;
    height: 445px;
    margin-right: 10px;
    background-color: chartreuse;
}
.left .rightone{
    float: left;
    width: 440px;
    height: 445px;
    background-color: chartreuse;
}
.guang{
    float: left;
    width: 100%;
    height: 100px;
    background-color: blue;
}

